html{
    background-image: url(https://i.ytimg.com/vi/3fe_j3Tq7gM/maxresdefault.jpg);
    background-size : auto;
}

#name{
    color : lightskyblue;
    font-style: oblique;
    text-align: center;
}

.sidebar{
    display: sticky;
    background-color: rgb(25, 87, 141);
    opacity: 0.9;
    width: fit-content;
    border: 5px rgb(0, 255, 255) solid;
    border-radius: 10px;
}

.sidebar a{
    text-align: center;
    display: block;
    padding: 10px;
    border: 5px rgb(0, 123, 255) solid;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-decoration: none;
    opacity: 1;
    background-color: aquamarine;
}

#desc{
    font-size: large;
    text-align: center;
    color: aquamarine;
}